@model Area.Areas.Painel.Models.Usuario
@{
    Layout = "~/Areas/Painel/Views/Shared/_Layout.cshtml";
}

<h1>Cadastrar Nova Empresa</h1>

<ul class="nav nav-pills">
    <li><a href="~/Painel/HomePainel/_Painel">Voltar</a></li>
</ul>
<hr />
<br />
<form style="margin: 0 0 0 400px; width: 600px;" method="post" action="">
    <fieldset>
        <div>
            <label class="col-sm-2 control-label">Nome da empresa:</label>
            <div>
                <input name="NomeEmpresa" type="text" class="form-control">
            </div>
        </div>
        <div>
            <label class="col-sm-2 control-label">Telefone:</label>
            <div>
                <input name="TelefoneEmpresa" type="tel" class="form-control">
            </div>
        </div>
        <div>
            <label class="col-sm-2 control-label">Endereço:</label>
            <div>
                <input name=" endempresa" type="text" class="form-control">
            </div>
        </div>
    </fieldset>
</form>
    <div style="margin: 0 0 40px 385px;" class="col-sm-offset-2 col-sm-10">
        <a href="~/Painel/HomePainel/_PainelSucesso"/><button type="submit" class="btn btn-default">Salvar</button></a>
        <span><a href="~/Painel/HomePainel/_Painel">Cancelar</a></span>
    </div>
    
