@model TrabalhoADO.Areas.Painel.Models.Usuario
@{
    ViewBag.Title = "Login";
    Layout = "~/Areas/Painel/Views/Shared/_LayoutLogin.cshtml";
}

<div class="container">
    <br />
    <div id="login-wraper">
        <form class="form login-form" method="POST" action="">
            <legend>Sign in to <span class="blue">Trabalho ADO</span></legend>
            <div class="body">
                <label>Usuário</label>
                <input type="text" name="User" id="User">
                <br />
                <label>Senha</label>
                <input type="password" name="Pass" id="Pass">
            </div>

            <div class="footer">
                <button type="submit" class="btn btn-success">Login</button>
            </div>
        </form>
    </div>

</div>