
@{
    ViewBag.Title = "Index";
}

<h1>Empresas</h1>
<ul class="nav nav-pills">
    <li><a href="~/Home/Index">Início</a></li>
    <li class="active"><a href="~/Empresas/Index">Empresas</a></li>
    <li id="botaoPainel"><a href="~/Painel/Inicio">Painel</a></li>
    <p>@*<a id="botaoPainel" href="~/Painel/Inicio" class="btn btn-primary" role="button">Painel</a>*@</p>
</ul>
<br />
